<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sectionGroup name="anylog">
    <section name="email" type="Any.Logs.Loggers.Emails.Configuration.EmailLoggerSection, Any.Logs, Version=1.0.0.0, Culture=neutral" />
    <section name="file" type="Any.Logs.Loggers.Files.Configuration.FileLoggerSection, Any.Logs, Version=1.0.0.0, Culture=neutral" />
  </sectionGroup>
  <anylog>
    <email host="" port="25" user="" password="" enableSsl="false" useDefaultCredentials="true">
      <loggers>
        <logger period="10" subject="Scheduler" from="" to="" />
      </loggers>
    </email>
    <file>
      <loggers>
        <logger methods="Error,Message" path="[cdir]\" />
        <logger methods="Message" path="[cdir]\Messages\" />
      </loggers>
    </file>
  </anylog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>